/* * TODO ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: papayawhip;
    font-family: 'Times New Roman', Times, serif;
}


/* * PORTADA - imagen sobre texto ----- */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titre {
    height: 280px;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    background-image: url(portada.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* * ETIQUETAS SUELTAS*/

h1 {
    margin-left: 20px;
    padding: 10px;
}

footer {
    text-align: center;
}


/* * SECCIONES DE COMIDA Y PLATOS ----- */

.sec {
    max-width: 100%;
    margin: auto;
    background: white;
    text-align: center;
    padding: 18px;
}

.plato {
    text-align: left;
    padding: 45px;
}

#comc {
    padding: 45px;
    text-align: unset;
}


/* * NAV - MENU ----- */

.navegacion {
    max-width: 100%;
    margin: auto;
    background: papayawhip;
    text-align: center;
}

.navegacion ul {
    list-style: none;
}


/* * MENU ----- */

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu li a {
    display: block;
    padding: 20px 30px;
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: black;
    transition: all .3s;
}

.submenu {
    position: absolute;
    background: #333333;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: "Open sans";
    text-decoration: none;
    text-align: center;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}


/* * BOTÒN DE WHATSAPP */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}